body, h1, h2, h3, h4 {
  font-family: 'Open Sans',sans-serif,Arial;
  font-weight: 300;
}

body {
  background-color: rgb(43, 194, 227);
  font-size: 170%;
}

a {
  color: rgb(43, 194, 227);
  text-decoration: none;
}

a:hover {
  color: rgb(43, 194, 227);
}

#intro h2, #screenshots h2 {
  font-size: 250%;
  margin: 1em 0;
}

#intro a, #intro a:hover {
  color: rgb(247, 245, 118);
}

/* banner
================================================== */

#banner {
  background-color: white;
  border-bottom: 0.3em solid rgb(31, 42, 97);
  -webkit-box-shadow: 0 8px 6px -6px #444;
  -moz-box-shadow: 0 8px 6px -6px #444;
  box-shadow: 0 8px 6px -6px #444;
}

#banner .container {
  padding: 1em 0;
}

#banner .tagline {
  font-size: 22px;
  color: rgb(43, 194, 227);
  text-align: center;
}

#banner a {
  text-decoration: none;
  border: 0;
}

@media (min-width: 992px) {
  #banner .tagline {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
    text-align: left;
  }
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: inline;
  background-color: rgb(31, 42, 97);
  margin: 0;
  padding: 0 0 5px 0;
  -webkit-box-shadow: 0 8px 6px -6px #444;
  -moz-box-shadow: 0 8px 6px -6px #444;
  box-shadow: 0 8px 6px -6px #444;
}

nav li {
  display: inline;
  margin: 1em;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: rgb(247, 245, 118);
}

#intro {
  color: white;
}

.social-github img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1;
}

#overview {
  color: white;
  margin: 2em 0;
}

#overview .card {
  text-align: center;
}

#overview .card img {
  margin-bottom: 1em;
}

footer {
  padding: 2em 0;
  color: black;
  font-size: 85%;
}

footer .social {
  text-align: right;
}

#screenshots {
  background-color: #DDD;
  color: rgb(31, 42, 97);
}

#screenshots .video {
  text-align: center;
  padding-bottom: 1em;
}

#blog {
  background-color: silver;
  padding: 30px;
  margin-top: 4em;
}

#blog > h2 {
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: bold;
}

.post {
  padding: 3em;
  background-color: white;
  margin-bottom: 3em;
}

.post .title {
  margin-top: 0;
  margin: 0 0 1em 0;
}

.post .title a {
  color: inherit;
}

.post .title a:hover {
  color: rgb(43, 194, 227);
}

.post .meta {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 0.5em 0;
  margin: 1em 0;
}

.post .byline, .post .share {
  margin: 0;
  padding: 0;
}

.post .share {
  text-align: right;
}

.pagination {
  margin: 0;
  padding: 0;
}
