<li class="nav-header">Artifacts</li>

<li item-path="artifact.document" class="document"><a>Documents<span class="badge"></span></a></li>
<li item-path="artifact.image" class="image"><a>Images<span class="badge"></span></a></li>
<li item-path="artifact.video" class="video"><a>Videos<span class="badge"></span></a></li>

<li class="nav-header entities">Entities<span class="badge"/></li>

<%- resultsHtml %>
