<form class="navbar-search">

  <input type="text" class="search-query" placeholder="Search">

  <div class="filter-info">
    <div class="message"/>
    <div class="action">REMOVE FILTERS</div>
  </div>

  <div class="search-query-validation"></div>

</form>

<ul class="search-results-summary nav nav-list"></ul>

<div class="search-results">
  <div class="content"></div>
</div>

<div class="search-filters">
  <div class="content"></div>
</div>

