<div class="form">
  <div class="property-list"></div>
  <div class="configuration"></div>

  <div class="buttons">
    <button class="add-property btn btn-small btn-primary">Add Property</button>
  </div>
</div>
