<div class="popover top">
  <div class="popover-title">
    {{ i18n 'popovers.load_related.title' count title}}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <p>{{ i18n 'popovers.load_related.too_many' }}.</p>
    <button class="btn btn-primary search">{{ i18n 'popovers.load_related.button.search' }}</button>
  </div>
</div>
