<div class="popover top">
  <div class="popover-title">
    {{ i18n 'popovers.load_related.title' count title}}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <button class="btn search">{{ i18n 'popovers.load_related.button.search' }}</button>
    <button class="btn btn-primary add">{{ i18n 'popovers.load_related.button.add' count }}</button>
  </div>
</div>

