<td class="actions">
  <div class="btn-group">
    <% if (Privileges.canPUBLISH) { %>
    <button class="btn btn-mini publish requires-PUBLISH">Publish</button>
    <% } %>
    <button class="btn btn-mini undo">Undo</button>
  </div>
</td>
