<section class="text-section {{cls}}" data-key="{{key}}">
  <h1>
    <strong title="{{description}}">{{description}}</strong>
    <span style="display: none" class="badge loading"/>
  </h1>
  <div class="text"></div>
</section>
