<section class="text-section collapsible {{cls}}" data-key="{{key}}">
  <h1>
    <strong title="{{description}}">{{description}}</strong>
    <span class="badge"></span>
  </h1>
  <div class="text"></div>
</section>
