<!-- Table because flexbox isnt supported enough and need [fixed width]|[remaining percent] on one line -->

<table cellpadding="0" class="field-type-boolean">
  <tr class="input-prepend">

    <td class="predicate-row">
      <span class="add-on">
        <input type="checkbox" {{#if value}}checked{{/if}}>
      </span>
    </td>

    <td class="input-row">
      <div class="display"></div>
    </td>
  </tr>
</table>

