<div class="segmented-control">
  <button class="active"><span class="icon icon-edit icon-white"></span></button>
  <button><span class="icon icon-signal"></span></button>
</div>
<div class="histogram"></div>
