<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
<head>
    <base href="{{context.url}}" target="_self">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Lumify Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="title" content="Lumify" />
    <meta name="description" content="open source big data integration, analytics, and visualization" />

    <link href='auth/username-only/css/login.css' rel='stylesheet' media='screen'>
</head>
<body>
<!-- Version: ${project.version} -->
<!-- SCM URL: ${project.scm.url} -->
<!-- Git SHA-1: ${buildNumber} -->
<!-- Build Timestamp: ${build.timestamp.formatted} -->
<div id='login'>
    <img class="logo" src="auth/username-only/img/lumify-logo.png"/>
    <form action="login" method="post" class="login">
        <p class="text-error">&nbsp;</p>
        <input class="username" name="username" type="text" placeholder="Username" autofocus />
        <button class="btn btn-primary">Log In</button>
    </form>
</div>
</body>
</html>
