<li class="user-row" data-row-key="<%= user.rowKey %>"
><span class="badge permissions" 
       data-user-permissions="<%= JSON.stringify(user.userPermissions) %>"
       ><%= user.permissionLabel %> <% if (editable) { %><span class="caret"></span><% } %></span><%= user.userName %></li>
