/data/
target/
.idea
*.iml
.vagrant
.settings/
.project
.classpath
.DS_Store
node_modules/
*.swp
allCountries.txt
coverage-error.log
cobertura.ser
npm-debug.log
/web/src/main/webapp/libs
catalog-v001.xml
_site
