<div class="createVertexPopover popover top">
  <div class="popover-title">
    {{ i18n 'popovers.create_vertex.title' }}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">

    <div class="errors"></div>

    <div class="concept"></div>
    <div class="justification"></div>
    <div class="visibility"></div>

    <div>
      <button class="btn btn-primary">{{ i18n 'popovers.create_vertex.button.create' }}</button>
      <button class="btn btn-default">{{ i18n 'popovers.create_vertex.button.cancel' }}</button>
    </div>
  </div>
</div>
