<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>application.config.location</param-name>
        <param-value>/opt/lumify/config</param-value>
    </context-param>
    <context-param>
        <param-name>application.config.log4j.location</param-name>
        <param-value>/opt/lumify/config/log4j.xml</param-value>
    </context-param>

    <listener>
        <listener-class>com.altamiracorp.lumify.web.ApplicationBootstrap</listener-class>
    </listener>

    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <async-supported>true</async-supported>
        <load-on-startup>0</load-on-startup>
        <init-param>
            <param-name>org.atmosphere.cpr.AtmosphereHandler</param-name>
            <param-value>com.altamiracorp.lumify.web.Messaging</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.sessionSupport</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.broadcastFilterClasses</param-name>
            <param-value>com.altamiracorp.lumify.web.MessagingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
            <param-value>org.atmosphere.interceptor.HeartbeatInterceptor</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.interceptor.HeartbeatInterceptor.heartbeatFrequencyInSeconds</param-name>
            <param-value>30</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.CometSupport.maxInactiveActivity</param-name>
            <param-value>-1</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.broadcasterCacheClass</param-name>
            <param-value>org.atmosphere.cache.UUIDBroadcasterCache</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.websocket.maxTextMessageSize</param-name>
            <param-value>1048576</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.websocket.maxBinaryMessageSize</param-name>
            <param-value>1048576</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/messaging/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lumify</servlet-name>
        <servlet-class>com.altamiracorp.lumify.web.Router</servlet-class>
        <init-param>
            <param-name>env</param-name>
            <param-value>dev</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>lumify</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>debug</filter-name>
        <filter-class>com.altamiracorp.lumify.web.RequestDebugFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>debug</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Everything in the webapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>