<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{context.url}}" target="_self">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Lumify</title>
</head>

<body>
    <img src="/img/lumify-logo.png"/>

    <div class="pane">
        <h1>Login with an existing account.</h1>
        <a href="/oauth/twitter"><img src="static/img/sign-in-with-twitter-link.png"/></a>
    </div>
</body>
</html>
