<form action="" class="login">
  <p class="text-error"></p>

  <input class="username" type="text" placeholder="Username" autofocus />
  <input class="password" type="password" placeholder="Password" />

  <button class="btn btn-primary">Log In</button>
  <button class="btn btn-link forgotPassword" style="display:none; margin-top:1em;">Forgot Password</button>
</form>

<form action="" class="forgot" style="display:block">
  <p class="text-error"></p>
  <p class="text-info"></p>

  <input class="username" type="text" placeholder="Username" />

  <button class="btn btn-primary">Reset</button>
  <button class="btn btn-link signin" style="margin-top:1em;">&hellip;or Sign In</button>
</form>
