<%
if (relationships.length == 0) { %>
    <option value =''>No valid relationships</option>
<% }
else
{%>
    <option value=''>Select a relationship...</option>
    <% relationships.forEach(function(relationship) { %>
    <option
        value="<%= relationship.title%>"><%= relationship.displayName %></option>
<% })}; %>

