<div class="form">

  <div class="text src-term"><span><%= source %></span></div>
  <div class="text dest-term"><span><%= dest %></span></div>

  <div class="arrow-wrap">
    <select>
        <option>Loading...</option>
      </select>

    <div class="arrow"/>
      <a class="invert" href="#">Invert</a>
  </div>


  <div class="buttons">
    <button class="create-statement btn btn-small btn-primary">Connect</button>
  </div>
</div>
