<div class="users-list">
  <ul class="nav nav-list">
    <li class="nav-header conversations">Conversations</li>

    <li class="nav-header status-online">Online</li>

    <li class="nav-header status-offline">Offline</li>
  </ul>
</div>
<div class="active-chat">
</div>
