
<div class="logo"></div>
<form action="" class="login">
  <p class="text-error">&nbsp;</p>
  <input class="username" type="text" placeholder="Username" autofocus />
  <input class="password" type="password" placeholder="Password" />
  <button class="btn btn-primary">Log In</button>
</form>

