<table class="table">
  <!-- SWITCH TO RIGHT ALIGNED WHEN MOREtr><td>Authored</td></tr-->
  <tr>
    <td class="property-name">Status</td>
    <td class="property-value"><%= property.sandboxStatus %></td>
  </tr>
  <% if (property._justificationMetadata || property._sourceMetadata) { 
     var j = property._justificationMetadata,
         s = property._sourceMetadata; %>

    <tr>
      <td class="property-name property-justification" colspan="2">Justification</td>
    </tr>
    <tr>
      <td colspan="2">

        <% if (j) { %>
          <%= j.justificationText %>
        <% } else { %>
          <%- s.snippet %>
        <% } %>
      </td>
    </tr>
    
  <% } %>


</table>
<button disabled class="btn btn-danger btn-small">Delete</button>
<button disabled class="btn btn-default btn-small">Edit</button>
