<div class="entity_audit_events"/>
<% if (properties) { %>
  <table class="table">
    <% properties.forEach(function(property) { %>
      <% include detail/propertiesItem %>
    <% }); %>

    <tr>
      <td colspan="2" class="buttons">
        <button class="add-new-properties btn btn-mini btn-default">Add Property</button>
      </td>
    </tr>
  </table>
<% } else { %>
  <div class="nav-header">Properties<span class="badge loading"/></div>
<% } %>
