<table class="table">

  <% var modifiedDate =  property.metadata['http://lumify.io#modifiedDate'];
     if (modifiedDate) { %>
  <tr>
    <td class="property-name">Modified</td>
    <td class="property-value"><%= formatters.date.dateTimeString(modifiedDate) %></td>
  </tr>
  <% } %>

  <% var modifiedBy =  property.metadata['http://lumify.io#modifiedBy'];
     if (modifiedBy) { %>
  <tr>
    <td class="property-name">Modified By</td>
    <td class="property-value property-modifiedBy"><span class="badge loading" style="float: left;"></span></td>
  </tr>
  <% } %>

  <% if (property.metadata.sandboxStatus === 'PRIVATE') { %>
  <tr>
    <td class="property-name">Status</td>
    <td class="property-value property-status">Unpublished</td>
  </tr>
  <% } %>

  <% var j = property.metadata._justificationMetadata,
         s = property.metadata._sourceMetadata;
     if (j || s) {  %>

    <tr>
      <td class="property-name property-justification" colspan="2">Justification</td>
    </tr>
    <tr>
      <td colspan="2">

        <% if (j) { %>
          <%= j.justificationText %>
        <% } else { %>
          <%- s.snippet %>
        <% } %>
      </td>
    </tr>
    
  <% } %>


</table>
<% 
  var publicChanged = property.metadata.sandboxStatus === 'PUBLIC_CHANGED';
  var private = property.metadata.sandboxStatus === 'PRIVATE';
  if (publicChanged) { %>
<button class="btn btn-danger btn-small">Undo</button>
<% } else if (private) { %>
<button class="btn btn-danger btn-small">Delete</button>
<% } %>
<button class="btn btn-default btn-small <%= (publicChanged || private) ? '' : 'noDelete' %>">Edit</button>
