<table class="table">
  <!-- SWITCH TO RIGHT ALIGNED WHEN MOREtr><td>Authored</td></tr-->
  <tr>
    <td class="property-name">Status</td>
    <td class="property-value"><%= property.metadata.sandboxStatus || 'Unknown' %></td>
  </tr>
  <% var j = property.metadata._justificationMetadata,
         s = property.metadata._sourceMetadata;
     if (j || s) {  %>

    <tr>
      <td class="property-name property-justification" colspan="2">Justification</td>
    </tr>
    <tr>
      <td colspan="2">

        <% if (j) { %>
          <%= j.justificationText %>
        <% } else { %>
          <%- s.snippet %>
        <% } %>
      </td>
    </tr>
    
  <% } %>


</table>
<!--button disabled class="btn btn-danger btn-small">Delete</button-->
<button class="btn btn-default btn-small">Edit</button>
