<div class="multiple">

  <div class="multiple-container">
    <div class="detail-toolbar">
      <div class="btn-toolbar">
        <%- fullscreenButton %>
      </div>
    </div>

    <ul class="histograms nav nav-bar">
      <li class="nav-header"><%= vertices.length %> objects selected</li>
      <li class="nav-header histogram">Histograms<span class="badge loading"/></li>
    </ul>
  </div>

  <div class="details-container"><div class="content"></div></div>

  <div class="vertices-list"></div>
</div>
