
<div class="entity-background">
  <div class="entity-glyphIcon"/>

  <h1 title="<%= F.vertex.title(vertex) %>" class='generic-draggable entity-title' data-vertex-id="<%= vertex.id %>"><%= F.vertex.title(vertex) %></h1>
  <div class="subtitle"><%= F.vertex.concept(vertex).displayName %></div>
  <div class="comp-toolbar"></div>

</div>

<div class="nav-with-background">
  <div class="properties"></div>
  <div class="relationships"></div>
  <div class="texts"></div>
</div>

