<div class="menubar-pane">
  <div class="content"></div>
</div>

<div class="dashboard-pane"></div>

<div class="search-pane" data-width-preference="search">
  <div class="content"></div>
</div>

<div class="workspaces-pane" data-width-preference="workspaces">
  <div class="content"></div>
</div>

<div class="admin-pane" data-width-preference="admin">
  <div class="content"></div>
</div>

<div class="activity-pane">
  <div class="content popover"></div>
</div>

<div class="graph-pane graph-pane-2d"></div>
<div class="graph-pane graph-pane-3d"></div>
<div class="map-pane"></div>

<div class="detail-pane" data-width-preference="detail">
  <div class="content"></div>
</div>

<div class="workspace-overlay"/>
<div class="help-dialog modal hide"/>

<div style="display:none" 
     class="alert alert-warning context-menu-warning">
<button type="button" class="close" data-dismiss="alert">×</button>
<%= i18n('contextmenu.blocked') %>
</div>
