<button data-event="fit">fit</button>
<div class="panner"><div class="arrow-bottom"/><div class="arrow-right"/><div class="arrow-top"/><div class="arrow-left"/></div>
<button class="zoom" data-repeat="true" data-event="zoomOut">-</button>
<button class="zoom" data-repeat="true" data-event="zoomIn">+</button>
