<div class="popover connect-dialog top">
  <div class="popover-title">
    <div class="find-path-form dropdown" style="font-size:100%">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Shortest <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="disabled"><a tabindex="-1" data-hops="1" data-display-text="Shortest" href="#">shortest path</a></li>
        <li><a tabindex="-1" data-hops="2" data-display-text="2 Hops" href="#">up to 2 hops</a></li>
        <li><a tabindex="-1" data-hops="3" data-display-text="3 Hops" href="#">up to 3 hops</a></li>
        <li><a tabindex="-1" data-hops="4" data-display-text="4 Hops" href="#">up to 4 hops</a></li>
      </ul>
    </div>
    <span class="title"></span>
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="errors"></div>
    <div class="form find-path-form">
      <span class="path"></span>
      <button class="btn btn-primary">Add Vertices</button>
    </div>
  </div>
</div>
