<div class="popover top">
  <div class="popover-title">
    <%= count %> Related to &quot;<%= cyNode.data('title').value %>&quot;
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <p>Too many vertices to add.</p>
    <button class="btn btn-primary search">Search Related</button>
  </div>
</div>
