<div class="detail-toolbar">
  <div class="btn-toolbar">
    <%- auditsButton %>
  </div>
</div>

<h1 class="relationship-header">
<div class="vertex-to-vertex-relationship generic-draggable fake-link"></div>
&#8675;
<div class="vertex-to-vertex-relationship generic-draggable fake-link"></div>
</h1>

<div class="properties"></div>
