<!-- Table because flexbox isnt supported enough and need [fixed width]|[remaining percent] on one line -->

<table cellpadding="0">
  <tr class="input-prepend">

    <td class="predicate-row">
      <span class="add-on">
        <% if (predicates) { %>
        <select class="predicate">
          <option value="<">less than</option>
          <option value=">">greater than</option>
          <option value="range">between</option>
        </select>
        <% } else { %>
        $
        <% } %>
      </span>
    </td>

    <td class="input-row">
      <input placeholder="$" type="text" pattern="[\d.,$]+" value="<%= value %>">
      <input placeholder="$" class="range-only" pattern="[\d.,$]+" type="text">
    </td>
  </tr>
</table>

