<div class="entity-background relationship-background" style="height: 10em">
  <h1 class="relationship-header">
  <div class="vertex-to-vertex-relationship generic-draggable"></div>
  &#8675;
  <div class="vertex-to-vertex-relationship generic-draggable"></div>
  </h1>

  <div class="comp-toolbar"></div>
</div>

<div class="nav-with-background" style="top: 4em">
  <div class="properties"></div>
  <div class="comments"></div>
</div>
