<span class="btn btn-file">{{ buttonText }}&hellip;<input type="file"></span>
<button class="btn btn-danger" style="display:none">{{ i18n 'admin.utils.file-upload.button.remove' }}</button>
<div class="selected-file"></div>
