<div class="animationwrap">
<div class="viewing">
  <span class="text"><%- snippet %></span>
  <span class="source"><strong><%= i18n('justification.field.reference.label') %>:</strong> <%= vertexTitle %></span>
  <button class="remove"><%= i18n('justification.field.reference.remove.button') %></button>
</div>
</div>
