
.popover {
  max-width: 450px;
  top: -299px !important;
  left: 10px !important;
  .popover-content {
    padding: 1px;
    font-size: 95%;
    font-weight: normal;

    .diffs-list {
      width: 400px;
      max-height: 300px;
      overflow: auto;
      margin: 0;
      padding: 0;    
    }


    table {
      margin: 0;
    }
  }
}
