<ul class="menu-top">
  <li class="dashboard"><a>Dashboard</a></li>

  <li class="divider"></li>

  <li class="search"><a>Search</a></li>
  <li class="workspaces"><a>Spaces</a></li>

  <li class="divider"></li>

  <li class="graph"><a>Graph</a></li>
  <li class="map"><a>Map</a></li>

  <li class="divider"></li>


</ul>

<ul class="menu-bottom">

  <li class="users"><a>Chat</a></li>

  <li class="divider"></li>

  <li class="activity"><a>Activity</a></li>

</ul>

