<div class="form">
  <div class="errors"></div>
  <input type="text" style="display:none" class="graphVertexId" value="<%= graphVertexId || '' %>">

  <textarea placeholder="<%= i18n('detail.comment.field.placeholder') %>"></textarea>
  <div class="visibility"></div>

  <div class="buttons">
    <button class="btn btn-link btn-small cancel"><%= i18n('detail.comment.form.button.cancel') %></button>
    <button class="btn btn-small btn-primary"><%= buttonText %></button>
  </div>
</div>
