<div class="chat-window" id="chat-window-<%= chat.rowKey %>" data-chatrowkey="<%= chat.rowKey %>">
    <div class="to"><%= chat.users.map(function(user) { return user.userName; }).join(', ') %></div>

    <div class="chat-messages"></div>

    <form class="new-message">
        <input type="text" class="message" placeholder="Message...">
    </form>
</div>
