<div class="chat-message {{#if tempId}}submitting{{/if}}"
     id="{{tempId}}"
     style="border: 1px solid black;">
  <div class="from">{{userName}}</div>
  <div class="message">{{message}}</div>
  <div class="date">{{timestamp}}</div>
</div>
