<div class="chat-window {{cls}}" data-row-key="{{rowKey}}">
  <div class="chat-messages"></div>
  <form class="new-message">
    <input type="text" class="message" placeholder="Message...">
  </form>
</div>
