<% Object.keys(shortcutsByScope).sort(sortFunction).forEach(function(scope) {  %>
  <li>
    <h1 class="<%= scope.toLowerCase() %> "><%= scope %></h1>
    <dl>
    <% Object.keys(shortcutsByScope[scope]).sort().forEach(function(key) { %>
      <dt><%= prettyCommand(shortcutsByScope[scope][key]) %></dt>
      <dd><%= shortcutsByScope[scope][key].desc %></dd>
    <% }); %>
    </dl>
  </li>
<% }); %>
