<div class="vertex-menu">
<ul class="dropdown-menu" role="menu">

  <% items.forEach(function(item) { %>
    
    <% include util/vertex/menuItem %>

  <% }) %>

  <!--li class="dropdown-submenu">
    <a tabindex="-1" href="#">Search...</a>
    <ul class="dropdown-menu">
        <li><a class="has-shortcut searchFor" tabindex="-1" data-func="searchFor" data-template="&quot;{title}&quot;" href="#"><span class="shortcut">alt+t</span></a></li>
        <li><a class="has-shortcut" data-func="searchRelated" tabindex="-1" href="#">Related Items<span class="shortcut">alt+s</span></a></li>
    </ul>
  </li>

  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">Add Related...</a>
    <ul class="dropdown-menu">
      <li><a class="has-shortcut has-subtitle" data-func="loadRelatedItems" tabindex="-1" href="#">Items<span class="shortcut">alt+r</span></a></li>
    </ul>
  </li-->

</ul>
</div>

