<div class="propertyInfoPopover popover top">
  <div class="arrow"></div>
  <div class="popover-content">
    <table class="table">
    </table>

    <button class="btn btn-danger btn-small requires-EDIT">Delete</button>
    <button class="editadd btn btn-small requires-EDIT"></button>
  </div>
</div>
