<div class="propertyInfoPopover popover top">
  <div class="arrow"></div>
  <div class="popover-content">
    <table class="table">
    </table>

    <button class="btn btn-danger btn-small requires-EDIT">{{ i18n 'popovers.property_info.button.delete' }}</button>
    <button class="editadd btn btn-small requires-EDIT">{{ i18n 'popovers.property_info.button.edit' }}</button>
    <button class="reply btn btn-small requires-COMMENT">{{ i18n 'popovers.property_info.button.reply' }}</button>
  </div>
</div>
