<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" [
    <!ENTITY logDir "/opt/lumify/logs">
    
    <!-- Pattern: %d{yyyy-MM-dd HH:mm:ss.SSS/zzz} %-5p [%c{3}] %m%n -->
    <!ENTITY pattern "&#37;d{yyyy-MM-dd HH:mm:ss.SSS/zzz} &#37;-5p [&#37;c{3}] &#37;m&#37;n">
]
>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&pattern;" />
        </layout>
    </appender>

    <appender name="applicationLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&logDir;/application.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&pattern;" />
        </layout>
    </appender>
    
    <appender name="applicationLogError" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&logDir;/application-error.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&pattern;" />
        </layout>
    </appender>        

    <appender name="webLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&logDir;/web.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&pattern;" />
        </layout>
    </appender>

    <appender name="webLogError" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&logDir;/web-error.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&pattern;" />
        </layout>
    </appender>
    
    <appender name="modelLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&logDir;/model.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&pattern;" />
        </layout>
    </appender>

    <appender name="modelLogError" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&logDir;/model-error.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="10" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&pattern;" />
        </layout>
    </appender>    


    <logger name="com.altamiracorp.lumify">
        <level value="DEBUG" />
        <appender-ref ref="webLog" />
        <appender-ref ref="webLogError" />
    </logger>
    <root>
        <level value="WARN" />
        <appender-ref ref="console" />
        <appender-ref ref="applicationLog" />
        <appender-ref ref="applicationLogError" />
    </root>
</log4j:configuration>