<ul class="nav nav-list">
  <% vertices.forEach(function(vertex) { %>
    <% include util/vertex/item %>
  <% }); %>
  <% if (infiniteScrolling) { %>
    <li class="infinite-loading">
      <%= i18n('vertex.list.infinite_scroll.loading') %>
    </li>
  <% } %>
</ul>
