<div class="vertex-selection">
  <div class="preview" />
  <input 
    autocomplete="off" 
    placeholder="{{ defaultText }}" 
    type="text" 
    value="{{ value }}">
  <span class="badge"/>
</div>
