<div class="popover connect-dialog top">
  <div class="arrow"></div>
  <div class="popover-content">
    <button data-component="createConnectionPopover" class="btn form-button requires-EDIT">Connect</button>
    <button data-component="findPathPopover" class="btn form-button">Find Path</button>
  </div>
</div>
