<div class="popover connect-dialog top">
  <div class="arrow"></div>
  <div class="popover-content">
    <button data-component="createConnectionPopover" 
            class="btn form-button requires-EDIT"><%= i18n('popovers.control_drag.button.connect') %></button>
  <button data-component="findPathPopover" class="btn form-button"><%= i18n('popovers.control_drag.button.find_path') %></button>
  </div>
</div>
