<div class="popover connect-dialog top">
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="errors"></div>
    <div class="form find-path-form">
      <span class="path"></span>
      <button data-hops="2" class="btn"><%= i18n('popovers.find_path.hops.option', 2) %></button>
      <button data-hops="3" class="btn"><%= i18n('popovers.find_path.hops.option', 3) %></button>
      <button data-hops="4" class="btn"><%= i18n('popovers.find_path.hops.option', 4) %></button>
    </div>
  </div>
</div>
