<div class="popover top">
  <div class="popover-title">
    No Popover
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <p>Please configure the template attribute.
  </div>
</div>

