<li class="entity-filter-row" data-filter-key="relatedToVertexIds">
  <div class="add-property">
    <input type="text" 
    value="<%= i18n('search.filters.related_to') %>" 
    readonly style="cursor:default;"/>
  </div>
  <button class="remove"><%= i18n('search.filters.button.remove') %></button>
  <div class="configuration">
    <input readonly type="text" value="<%= title %>"></input>
  </div>
</li>

