<ul style="display:none" class="entity-filters nav nav-list">
  <li class="entity-filter-header nav-header">{{ i18n 'search.filters.vertices' }}</li>
</ul>
<ul class="prop-filters nav nav-list">
  <li class="concept-filter-header nav-header">{{ i18n 'search.filters.concept' }}</li>
 <li class="concepts-dropdown">
 <select><option>{{ i18n 'search.filters.concept.loading' }}</option></select>
 </li>
 <li class="prop-filter-header nav-header">{{ i18n 'search.filters.properties' }}</li>
</ul>
