<ul style="display:none" class="entity-filters nav nav-list"></ul>
<ul class="prop-filters nav nav-list">
  <li class="concept-filter-header nav-header">{{ i18n 'search.filters.concept' }}</li>
 <li class="concepts-dropdown"></li>
 <li class="prop-filter-header nav-header">{{ i18n 'search.filters.properties' }}</li>
</ul>
