<div class="highlight-button btn-group">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    Highlight
    <span class="caret"></span>
  </a>
  <ul class="highlight-options dropdown-menu">
    <% styles.forEach(function(style, i) { %>
    <li class="<%= i === activeStyle ? 'checked' : '' %>" data-selector="<%= style.selector || '' %>"><a href="#"><%= style.name %></a></li>
    <% }); %>
  </ul>
</div>

