<div class="menubar-pane">
  <div class="content"></div>
</div>

<div class="dashboard-pane"></div>

<div class="search-pane">
  <div class="content"></div>
</div>

<div class="workspaces-pane">
  <div class="content"></div>
</div>

<div class="users-pane">
  <div class="content"></div>
</div>

<div class="graph-pane"></div>
<div class="map-pane"></div>

<div class="detail-pane">
  <div class="content"></div>
</div>

<div class="workspace-overlay"/>
