{{#if justificationMetadata}}
  {{justificationMetadata.justificationText}}
{{else}}

  {{#if sourceMetadata}}
    {{{sourceMetadata.snippet}}}
    <a class="sourceInfoTitle" href="#"></a>
  {{/if}}

{{/if}}
