<div class="popover connect-dialog top">
  <div class="popover-title">
    <%= cy.getElementById(edge.data('source')).data('title') %>
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="form create-connection-form">
      <select></select>
      <button class="btn btn-primary">Connect</button>
    </div>
  </div>
</div>
