<div class="timezonePopover popover top">
  <div class="arrow"></div>
  <div class="popover-content">

    <div class="navbar-search">
      <input type="text" class="search-query" placeholder="Search">
    </div>

    <div class="dst">* Observes Daylight Saving</div>

  </div>
</div>
