<div class="form">
  <input type="text" style="display:none" class="graphVertexId" value="<%= graphVertexId || '' %>">

  <div class="resolve-wrapper">
    <div class="preview" />
    <input 
      autocomplete="off" 
      placeholder="Resolve to Entity" 
      class="object-sign"
      type="text" 
      value="<%= objectSign || sign %>">
    <span class="badge"/>
  </div>

  <div class="help">Click to show existing matches</div>

  <select style="<%= graphVertexId ? '' : 'display:none' %>">
    <option>Loading...</option>
  </select>

  <div class="buttons">
    <button style="display:none" class="create-term btn btn-small btn-primary"><%= buttonText %></button>
  </div>
</div>
