<ul class="nav nav-list">

  {{#each usersByWorkspace}}
  <li title="{{name}}" class="nav-header">{{name}}</li>
    {{#each users}}
    {{> chat/userListItemTpl }}
    {{/each}}
    </li>
  {{else}}
  <li class="none"><em>{{ i18n 'chat.users.no_users_online' }}</em></li>
  {{/each}}

</ul>
