<div class="popover top">
  <div class="popover-title">
    <span class="loading badge" style="vertical-align:bottom;"></span>
    <span style="padding-left:0.3em">{{message}}</span>
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <div>
      <button class="btn btn-primary">{{ i18n 'popovers.loading.button.cancel' }}</button>
    </div>
  </div>
</div>
