<div class="form">
    <div class="errors"></div>
  <input type="text" style="display:none" class="graphVertexId" value="<%= graphVertexId || '' %>">

  <div class="vertex-container"></div>

  <div class="help"><%= i18n('detail.resolve.form.entity_search.help') %></div>

  <div class="concept-container"></div>

  <div class="visibility"></div>

  <div class="buttons">
    <button class="btn btn-link btn-small cancel"><%= i18n('detail.resolve.form.button.cancel') %></button>
    <button style="display:none" class="btn btn-small btn-primary"><%= buttonText %></button>
  </div>
</div>
