<div class="entity_audit_events"/>
<% if (properties) { %>
  <ul class="nav nav-list">

    <% properties.forEach(function(property) { %>
      <% include detail/propertiesItem %>
    <% }); %>

    <li class="buttons">
      <button class="add-new-properties btn btn-mini btn-default">Add Property</button>
    </li>
  </ul>
<% } else { %>
  <div class="nav-header">Properties<span class="badge loading"/></div>
<% } %>
