<ul class="nav nav-list">
    <li class="nav-header">Concept<span class="badge loading"></span></li>
    <li><select></select></li>

    <li class="nav-header">Token</li>
    <li>
        <input type="text" class="token" placeholder="Token">
        <small>Separate tokens by a space, e.g.: &quot;McLean , VA&quot;</small>
    </li>

    <li class="nav-header">Resolved Name (optional)</li>
    <li>
        <input type="text" class="resolved" placeholder="Resolved Name">
    <li>
    <li class="divider"></li>
</ul>

<button disabled class="btn btn-primary">Create Entry</button>