<div class="animationwrap">
<input 
  data-title="&lt;strong&gt;Include a Reference&lt;/strong&gt;&lt;br&gt;Paste snippet from document text"
  data-placement="left"
  data-trigger="focus"
  data-html="true"
  class="editing"
  placeholder="Justification"
  type="text"
  value="<%= value %>"></input>
</div>
