<li class="entity-filter-row" data-filter-key="relatedToVertexId">
  <div class="add-property">
    <input type="text" value="Related To" readonly style="cursor:default;"/>
  </div>
  <button class="remove">Remove</button>
  <div class="configuration">
    <input readonly type="text" value="<%= title %>"></input>
  </div>
</li>

