<ul style="display:none" class="entity-filters nav nav-list">
 <li class="entity-filter-header nav-header">Filter by Vertices</li>
</ul>
<ul class="prop-filters nav nav-list">
 <li class="concept-filter-header nav-header">Filter by Concept</li>
 <li class="concepts-dropdown">
  <select><option>Loading</option></select>
 </li>
 <li class="prop-filter-header nav-header">Filter by Properties</li>
</ul>
