

<li class="nav-header"><%= i18n('workspaces.list.header') %></li>

<li class="new-workspace">
  <div class="input-append">
    <input class="new" name="title" type="text" placeholder="<%= i18n('workspaces.form.name.placeholder') %>" />
    <button class="new btn btn-mini"><%= i18n('workspaces.form.button.add') %></button>
  </div>
</li>

<li class="divider"></li>

<li class="nav-header"><%= i18n('workspaces.list.shared_with_me') %></li>
