<ul class="workspaces-list nav nav-list">
  <li class="nav-header"><%= i18n('workspaces.list.header') %><span class="loading badge"></span></li>
</ul>

<div style="display:none" class="workspace-form" data-width-preference="workspaceForm">
  <div class="content"></div>
</div>
