@import (reference) "../util/positioning.less";

width: 225px;

.admin-form {
  .pin-left-split;

  width: 200px;
  background: @pane-background;
  z-index: 89;  // so it floats above graph, but below splitbar handles

  .content {
    padding: 1em;
    overflow-x: hidden;
    
    .nav {
      margin: -0.5em 0 0 0;
      padding: 0;      
    }
    
    .collapsible {
      h1 {
        margin: 0 -1em;
        padding: 0.25em 1em;      
        line-height: 1.5em;   
        .badge {
          margin-top: 0.5ex;
        }
      }  
    }
    
    button.close {
      display: none;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
      width: 100%;
      .box-sizing(border-box);
      
      input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 999px;
          text-align: right;
          outline: none;
          background: white;
          cursor: inherit;
          display: block;
          .opacity(0);
      }
    }
    
    p {
      font-size: 95%;
      color: #555;
    }

    button {
      display:block;            
      width: 100%;
      margin: 1em 0;
    }
  }
}
