<ul class="nav nav-list">
    <li class="nav-header">{{ i18n 'admin.workspace.select.label' }}<span class="badge loading"></span></li>
    <li>
        <select></select>
    </li>
</ul>

<a class="btn btn-primary" disabled>{{ i18n 'admin.workspace.button.export' }}</a>
