<ul class="nav nav-list">
    <li class="nav-header">{{ i18n 'admin.workspace.import.file.label' }}</li>
    <li class="upload"></li>
</ul>

<button disabled class="import btn btn-primary">{{ i18n 'admin.workspace.button.import' }}</button>
