<div class="deleteEdgesPopover popover top">
  <div class="popover-title">
    {{ i18n 'popovers.delete_edges.title' }}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">

    <div class="errors"></div>

    <div class="edge-list"></div>

    <div>
      <button class="btn btn-danger" disabled>{{ i18n 'popovers.delete_edges.button.delete' }}</button>
      <button class="btn btn-default">{{ i18n 'popovers.delete_edges.button.cancel' }}</button>
    </div>
  </div>
</div>
