<div class="exportWorkspacePopover popover top">
  <div class="popover-title">
    {{ title }}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="plugin-content"></div>
    <div>
      <button class="btn btn-default">{{ i18n 'popovers.export_workspace.button.cancel' }}</button>
    </div>
  </div>
</div>
