/** TODO need way to require css */
input {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  .box-sizing(border-box);
}

.text-error {
  text-align: center;
}

button {
  &.loading {
    margin-left: 0;
  }
  width: 100%;
}
