.logo {
  background: url(../img/lumify-logo.png);
  background-position: 46%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 40%;
  margin: 1em auto 0;
  max-width: 500px;
  width: auto;
}