<html>
<head>
    <title>Dictionary Admin</title>
    <script src='/libs/jquery/jquery.js'></script>
    <script src='/libs/ejs/ejs.js'></script>
    <script src='/libs/underscore/underscore.js'></script>
    <style>
        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            font-size: 10pt;
            min-width: 150;
        }

        th {
            min-width: 150;
            text-align: left;
        }

        td.delete {
            text-align: center;
        }

        td.delete img {
            height: 20
        }

        .additional-info-name {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Dictionary Admin</h1>

<form>
    <b>Concept:</b>
    <select id="conceptName">
        <option>Loading...</option>
    </select>
    <br/>

    <b>Tokens:</b>
    <input type="text" id="tokens">
    (Separate tokens by a space, e.g.: "McLean , VA")
    <br/>

    <b>Resolved Name (Optional):</b>
    <input type="text" id="resolvedName">
    <br/>

    <button id="add">Add New Dictionary Entry</button>
</form>

<div id="results">
    <hr>
    <div>
        <b>Filter by: </b>
        <select id="filter">
            <option value="all">All</option>
        </select>
    </div>
    <div id="dictionary">

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#add').on('click',onAddNew);
        $('#filter').on('change',onFilter);
        var dictionaryTemplate = document.getElementById('dictionaryTemplate').innerHTML;
        var conceptListTemplate = document.getElementById('conceptListTemplate').innerHTML;
        $.ajax({
            url: '/ontology/concept',
            success: function (data) {
                console.log(data);
                var html = ejs.render(conceptListTemplate, data);
                $('#conceptName').html(html);
                $('#filter').append(html);
            },
            dataType: 'json'
        });
        $.ajax({
            url: '/admin/dictionary',
            success: function (data) {
                console.log(data);
                data.entries = _.sortBy(data.entries,function (entry) { return entry.concept });
                var html = ejs.render(dictionaryTemplate, data);
                $('#dictionary').html(html);
                $('.deleteBtn').on('click',onDelete);
            },
            dataType: 'json'
        });
    });

    function onFilter() {
        var dictionaryTemplate = document.getElementById('dictionaryTemplate').innerHTML;
        var concept = this.value;
        $.ajax({
            url: '/admin/dictionary/' + (concept == 'all' ? '' : concept),
            success: function (data) {
                console.log(data);
                data.entries = _.sortBy(data.entries,function (entry) { return entry.concept });
                var html = ejs.render(dictionaryTemplate, data);
                $('#dictionary').html(html);
                $('.deleteBtn').on('click',onDelete);
            },
            dataType: 'json'
        });
    }

    function onAddNew() {
        var reqData = {
            concept: $('#conceptName').val(),
            tokens: $('#tokens').val()
        };

        if ($('#resolvedName').val()) {
            reqData.resolvedName = $('#resolvedName').val();
        }

        $.ajax({
            type: 'POST',
            url: '/admin/dictionary',
            data: reqData,
            success: function (data) {
                console.log(data);
                onFilter.bind($('#filter')[0]).apply();
            }
        });
        return false;
    }

    function onDelete (evt) {
        evt.preventDefault();
        var tokens = $(evt.target).parent().data('tokens');
        var rowKey = $(evt.target).parent().data('rowkey');
        var confirmed = confirm("Are you sure you want to delete the entry: " + tokens + "?");
        if (confirmed) {
            $(evt.target).replaceWith('<img src="/img/loading.gif"/>');
            $.ajax({
                type: 'DELETE',
                url: '/admin/dictionary/' + rowKey,
                success: function (data) {
                    onFilter.bind($('#filter')[0]).apply();
                }
            });
        } else {
            return false;
        }
    }
</script>

<script id="dictionaryTemplate" type="text/template">
    <% if(entries.length == 0) { %>
    No rows
    <% } else { %>
    <h3>Entry Count: <%=entries.length%></h3>
    <table class="entries">
        <tr>
            <th>Concept</th>
            <th>Tokens</th>
            <th>Resolved Name</th>
            <th>Delete</th>
        </tr>
        <% entries.forEach(function(entry) { %>
        <tr>
            <td class="concept"><%= entry.concept %></td>
            <td class="tokens"><%= entry.tokens %></td>
            <td class="resolvedName"><%= entry.resolvedName ? entry.resolvedName : "" %></td>
            <td class="delete"><a class="deleteBtn" href="#" data-tokens="<%= entry.tokens %>" data-rowkey="<%= entry._rowKey %>"><img src="/img/glyphicons/glyphicons_197_remove.png"/></a></td>
        </tr>
        <% }) %>
    </table>
    <% } %>
</script>

<script id="conceptListTemplate" type="text/template">
    <% children.forEach(function(concept) { %>
    <% if (concept.title === 'entity') { %>
    <% concept.children.forEach(function(entityConcept) { %>
    <option value="<%= entityConcept.title %>"><%= entityConcept.displayName %></option>
    <% }) %>
    <% } %>
    <% }) %>
</script>
</body>
</html>