<ul class="nav nav-list">
    <li class="nav-header">Document IRI Override</li>
    <li><input type="text" placeholder="Document IRI" class="documentIri"></li>

    <li class="nav-header">Ontology File</li>
    <li class="upload"></li>
</ul>

<button disabled class="import btn btn-primary">Upload</button>