<ul class="nav nav-list">
    <li class="nav-header">Concept</li>
    <li class="concept-container"></li>

    <li class="nav-header">Display Name</li>
    <li><input type="text" placeholder="Display Name" class="displayName"></li>

    <li class="nav-header">Color</li>
    <li><input type="color" class="color"></li>

    <li class="nav-header">Display Type</li>
    <li><input type="text" class="displayType"></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="userVisible"> User Visible</label></li>

    <li class="nav-header"><label style="font-size: 100%;font-weight: bold;"><input type="checkbox" class="searchable"> Searchable</label></li>

    <li class="divider"></li>

    <li class="nav-header">Title Formula</li>
    <li><textarea class="titleFormula"></textarea></li>
    <li class="nav-header">Subtitle Formula</li>
    <li><textarea class="subtitleFormula"></textarea></li>
    <li class="nav-header">Time Formula</li>
    <li><textarea class="timeFormula"></textarea></li>
</ul>

<button disabled class="import btn btn-primary">Save</button>

