<ul class="nav nav-list">

    <li class="nav-header">Property Name</li>
    <li>
        <input type="text" value="http://lumify.io#raw">
        <button class="btn param">Requeue</button>
    </li>

    <li class="divider"></li>

    <li><button class="btn vertex">Requeue Vertices</button></li>

    <li><button class="btn edge">Requeue Edges</button></li>

</ul>
