<ul class="nav nav-list">
    <li class="nav-header">Load User</li>
    <li><input type="text" value="{{ user.displayName }}" class="user"></li>
    <li class="divider"></li>
</ul>
<div class="details"></div>