<div class="logo-background"></div>
<div class="notifications-container">
  <section class="collapsible expanded">
    <h1 class="collapsible-header">
      <strong><%= i18n('dashboard.notifications.title') %></strong>
      <span class="badge loading"></span>
    </h1>
    <div class="collapsible-section"></div>
  </section>
</div>
<a class="help btn btn-small"><%= i18n('help.button') %><span class="shortcut" title="<%= i18n('help.button.tooltip') %>">?</span></a>
