<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{ page.title }}" />
    {% if page.title %}<meta name="description" content="{{ page.description }}" />{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link rel="icon" href="img/lumify.ico" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Crete+Round' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="homepage">
    {% include forkme.html %}
    {% include google-analytics.html %}
    {{ content }}
    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
