# Map component
map.provider=googlev3
map.apiKey=
map.tileServer.hostName= # e.g. localhost
map.tileServer.port= # e.g. 9999

# Providers 
model.provider=com.altamiracorp.bigtable.model.accumulo.AccumuloSession
authentication.provider=com.altamiracorp.lumify.web.SessionAuthenticationProvider
fs.provider= com.altamiracorp.lumify.fs.hdfs.HdfsSession
work-queue-repository=com.altamiracorp.lumify.model.KafkaWorkQueueRepository

# Application-wide
hadoop.url=  # e.g. hdfs://192.168.33.10:8020
zookeeper.serverNames= # e.g. 192.168.33.10 (comma separated)
fs.default.name= # e.g. hdfs://192.168.33.10:8020

# Accumulo specific
bigtable.accumulo.instanceName= # e.g. lumify
bigtable.accumulo.zookeeperServerNames= # e.g. 192.168.33.10 (comma separated)
bigtable.accumulo.username= # e.g. root
bigtable.accumulo.password= # e.g. password

# graph
graph=com.altamiracorp.securegraph.accumulo.AccumuloGraph
# TODO when server side element visibility is fix remove this line
graph.useServerSideElementVisibilityRowFilter=false
graph.accumuloInstanceName=lumify
graph.username=root
graph.password=password
graph.tableNamePrefix=atc_securegraph
graph.zookeeperServers=192.168.33.10,192.168.33.10
graph.serializer=com.altamiracorp.securegraph.accumulo.serializer.JavaValueSerializer
graph.idgenerator=com.altamiracorp.securegraph.id.UUIDIdGenerator
graph.search=com.altamiracorp.securegraph.elasticsearch.ElasticSearchSearchIndex
graph.search.locations=192.168.33.10
graph.search.indexName=securegraph