# Map component
map.provider=googlev3
map.apiKey=
map.tileServer.hostName= # e.g. localhost
map.tileServer.port= # e.g. 9999

# Providers 
model.provider=com.altamiracorp.bigtable.model.accumulo.AccumuloSession
graph.provider=com.altamiracorp.lumify.model.TitanGraphSession
search.provider=com.altamiracorp.lumify.search.ElasticSearchProvider
authentication.provider=com.altamiracorp.lumify.web.SessionAuthenticationProvider
fs.provider= com.altamiracorp.lumify.fs.hdfs.HdfsSession
work-queue-repository=com.altamiracorp.lumify.model.KafkaWorkQueueRepository

# Application-wide
hadoop.url=  # e.g. hdfs://192.168.33.10:8020
zookeeper.serverNames= # e.g. 192.168.33.10 (comma separated)
fs.default.name= # e.g. hdfs://192.168.33.10:8020

# Accumulo specific
bigtable.accumulo.instanceName= # e.g. lumify
bigtable.accumulo.zookeeperServerNames= # e.g. 192.168.33.10 (comma separated)
bigtable.accumulo.username= # e.g. root
bigtable.accumulo.password= # e.g. password

# Titan specific
graph.titan.storage.backend=com.altamiracorp.titan.accumulo.AccumuloStorageManager
graph.titan.storage.tablename=atc_titan
graph.titan.storage.accumuloInstanceName= # e.g. lumify
graph.titan.storage.zookeeperServerName= # e.g. 192.168.33.10
graph.titan.storage.username= # e.g. root
graph.titan.storage.password= # e.g. password
graph.titan.storage.index.search.backend=elasticsearch
graph.titan.storage.index.search.hostname= # e.g. 192.168.33.10
graph.titan.storage.index.search.port=9300
graph.titan.storage.index.search.indexName=titan
graph.titan.storage.index.search.client-only=true
graph.titan.autotype=none

# Titan-ES specific
graph.titan.storage.index.search.providerUtilClass=com.altamiracorp.lumify.model.index.utils.TitanGraphElasticSearchUtil


# Elastic search specific
search.elasticsearch.locations= # e.g. 192.168.33.10:9300
