<div class="user-row" data-user="<%= JSON.stringify(user) %>">
  <div class="user-status st-<%= user.status ? user.status.toLowerCase() : 'unknown' %>"></div>
  <%= user.displayName %>
  <% if (user.displayName.toLowerCase() !== (user.email || user.userName).toLowerCase()) { %>
  <div class="subtitle"><%= user.email || user.userName %></div>
  <% } %>
</div>
