<div class="navbar-search">

  <div class="segmented-control">
    {{#each types}}
    <button data-type="{{name}}" class="find-{{cls}} {{#if selected}}active{{/if}}">{{name}}</button>
    {{/each}}
  </div>

  <div class="search-query-container">
    <input type="text" class="search-query" placeholder="Search">
    <a style="display:none"></a>
  </div>

  <div class="filter-info">
    <div class="message"/>
    <div class="action">REMOVE FILTERS</div>
  </div>

  <div class="search-query-validation"></div>

</div>

{{#each types}}
<div class="search-type search-type-{{cls}} {{#if selected}}active{{/if}}"></div>
{{/each}}

