
<div class="search-filters">
  <div class="content"></div>
</div>

<div class="search-results" style="display:none" data-width-preference="searchResults">
  <div class="content">
    <h1 class="total-hits"><span></span></h1>
    <div></div>
  </div>
</div>

