{{#eachWithLimit audits limit=MAX_TO_DISPLAY}}

  <tr class="audit-row {{#if @hidden}}hidden{{/if}}">
    {{>detail/audit/audit-item}}
  </tr>

  {{#if @showButton}}
    <tr class="show-all-button-row">
      <td>&nbsp;</td>
      <td colspan="2">
        <button class="btn btn-link btn-small">{{ i18n 'audit.property.show_all.button' }}</button>
      </td>
    </tr>
  {{/if}}

{{else}}

<tr><td colspan="3"><span class="no_audit_events">{{ i18n 'audit.none_available' }}</span></td></tr>

{{/eachWithLimit}}
