<li style="display:none" data-concept-id="<%= concept.id %>" 
class="<%= classSafeConceptId %>"
><a title="<%= concept.displayName %>" style="padding-left:<%= indent %>px;"
  ><span class="badge"></span><span class="title"><%= concept.displayName %></span></a></li>
