<td class="actions">
  <div class="btn-group">
    <% if (Privileges.canPUBLISH) { %>
      <button class="btn btn-mini publish requires-PUBLISH"><%= i18n('workspaces.diff.button.publish') %></button>
    <% } %>
    <% if (Privileges.canEDIT) { %>
    <button class="btn btn-mini undo requires-EDIT"><%= i18n('workspaces.diff.button.undo') %></button>
    <% } %>
  </div>
</td>
