<option value=''>Choose a concept...</option>
<% concepts.forEach(function(concept) { %>
<option 
  <% if (concept.id == selectedConceptId) { %>selected<% } %>
  value="<%= concept.id %>"><%= concept.flattenedDisplayName %></option>
<% }); %>
