
.comments {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 1em;
    }
    .comment {
        text-align: left;    
    }

    .comment .comment-text {
        text-align: left;
    }

    .comment .date, .comments ul .comment .user {
        font-size: 75%;

        color: #555;
        font-variant: small-caps;
        text-transform: uppercase;
    }
    .comment .user {
        margin-right: 1ex;
    }
  }
}
