<div class="addToWorkspacePopover popover top">
  <div class="popover-title">
    Add to Workspace
  </div>
  <div class="arrow"></div>
  <div class="popover-content">
    <label>
      <strong>Workspace</strong>
      <select>
        <option>Loading...</option>
      </select>
    </label>
    <div>
      <button class="btn btn-primary" disabled>Add {{ vertexCount }}</button>
      <button class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>
