<div class="fileImportPopover popover top collapseVisibility">
  <div class="popover-title">
    Import {{pluralString}}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">

    <div class="errors"></div>

    <div class="single">
      {{#each rolledUp}}
      {{> util/popovers/fileImport/formattedFile }}
      {{/each}}
    </div>

    {{#if multipleFiles}}
    <label class="checkbox">
      <input class="copyVisibility" type="checkbox" checked> Apply to all files
    </label>
    {{/if}}

    <div class="individual-visibility">
      {{#each formattedFiles}}
      {{> util/popovers/fileImport/formattedFile }}
      {{/each}}
    </div>

    <div>
      <button class="btn btn-primary">Import</button>
      <button style="display:none" class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>
